@font-face {
  font-family: "MDIO0.6";
  src: url("/MDIO0.6-Regular.woff2") format("woff2"),
    url("/MDIO0.6-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MDIO0.6";
  src: url("/MDIO0.6-Italic.woff2") format("woff2"),
    url("/MDIO0.6-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MDIO0.6";
  src: url("/MDIO0.6-Bold.woff2") format("woff2"),
    url("/MDIO0.6-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MDIO0.6";
  src: url("/MDIO0.6-BoldItalic.woff2") format("woff2"),
    url("/MDIO0.6-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "MDIO0.6";
  src: url("/MDIO0.6-Black.woff2") format("woff2"),
    url("/MDIO0.6-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MDIO0.6";
  src: url("/MDIO0.6-BlackItalic.woff2") format("woff2"),
    url("/MDIO0.6-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "MDIO0.6";
  src: url("/MDIO0.6-Semibold.woff2") format("woff2"),
    url("/MDIO0.6-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MDIO0.6";
  src: url("/MDIO0.6-Ultra.woff2") format("woff2"),
    url("/MDIO0.6-Ultra.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "MDIO0.6";
  src: url("/MDIO0.6-UltraItalic.woff2") format("woff2"),
    url("/MDIO0.6-UltraItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

html {
  font-family: "MDIO0.6";
}

body {
  --yellow-hue: 81.72;
  --yellow: oklch(83.77% 0.148 var(--yellow-hue));
  --red-hue: 23.68;
  --red: oklch(67% 0.221 var(--red-hue));
  --teal-hue: 188.71;
  --teal: oklch(90.16% 0.173 188.71);
  --r-main-font: "MDIO0.6";
  --r-heading-font: "MDIO0.6";
  --r-link-color: var(--yellow);
  --r-background-color: black;
  --r-heading-text-transform: none;
  --green-hue: 124.67;
  --green: oklch(92.06% 0.269 var(--green-hue));
  --r-heading1-size: 4rem;
  --r-main-font-size: 30px;
}

h1 {
  font-style: italic;
}

h3,
h5 {
  color: var(--yellow) !important;
}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}
