@font-face {
  font-family: "🆒";
  src: local("ATNameMonoVariable-Regular"),
    url("https://scotts-fonts.scott-bb5.workers.dev/NameMonoVariable.woff2")
      format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "🆒";
  src: local("ATNameMonoVariable-RegularItalic"),
    url("https://scotts-fonts.scott-bb5.workers.dev/NameMonoItalicVariable.woff2")
      format("woff2");
  font-weight: 100 900;
  font-style: italic;
}

/* Change this to host somewhere closer to launch */
html {
  font-family: "🆒, monospace";
}

body {
  --yellow-hue: 81.72;
  --yellow: oklch(83.77% 0.148 var(--yellow-hue));
  --red-hue: 23.68;
  --red: oklch(67% 0.221 var(--red-hue));
  --teal-hue: 188.71;
  --teal: oklch(90.16% 0.173 188.71);
  --r-main-font: "🆒";
  --r-heading-font: "🆒";
  --r-link-color: var(--yellow);
  --r-background-color: black;
  --r-heading-text-transform: none;
  --green-hue: 124.67;
  --green: oklch(92.06% 0.269 var(--green-hue));
  --r-heading1-size: 4rem;
  --r-main-font-size: 30px;
  --r-link-color-hover: var(--teal);
}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.reveal .progress span {
  background: linear-gradient(to left, var(--green), var(--teal)) !important;
}

h1 {
  font-style: italic;
  font-weight: 700;
  font-variation-settings: "wght" 700, "ital" 1;
}
